extends base

block content
     .my-article-content
            h2= `Articles with ${category} ${value}`
            .my-articles
                each post in posts.results
                    .blog-item
                        .blog-container
                            .blog-image
                                a(href=`/posts/${post.slug}`)
                                    img.blog-image--content(src=`/img/cover/${post.imageCover}`, alt="image")
                            .blog-content
                                a.article-tag.small-text(href=`/search/?category=${post.category}`)= post.category
                                h1.blog-heading
                                    a(href=`/posts/${post.slug}`)= post.title
                                p.blog-subheading= post.abstract
                                p.blog-created-at= `by ${post.author.name.split(' ')[0]}  ` 
                                    span.time-stamp= post.createdAt.toLocaleString('en-us',{day:"numeric",month:"short",year:"numeric"})
                                    if user
                                        -if(user.role === 'admin') 
                                            a.tooltip-edit(href="./compose.html", data-tooltip="edit")
                                                i.fa.fa-edit.article-icon.icon-edit
                                            button.btn-delete.tooltip-delete(data-tooltip="delete")
                                                i.fa.fa-trash.article-icon.icon-delete
                        hr.blog-seperator

            .page-button
                if posts.previous 
                    a(href=`/search/?${category}=${value}&page=${posts.previous.page}`) 
                        button#prev(class="btn btn_prev") Prev Page
                if posts.next
                    a(href=`/search/?${category}=${value}&page=${posts.next.page}`) 
                        button#next(class="btn btn_next") Next Page
